# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
venv/
env/
.venv/
.env

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Project Specific
model/credit_risk_model.joblib

# Testing
.pytest_cache/
.coverage
htmlcov/
.ruff_cache/

# Local database
*.db
